In [3]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="Ethereum Block Chain/My First Project-0723c678b6d6.json"
from google.cloud import bigquery
client = bigquery.Client()

In [4]:
ethereum_data_set_ref = client.dataset('crypto_ethereum', project = 'bigquery-public-data')

In [5]:
type(ethereum_data_set_ref)

google.cloud.bigquery.dataset.DatasetReference

In [6]:
ethereum_dataset = client.get_dataset(ethereum_data_set_ref)

In [7]:
type(ethereum_dataset)

google.cloud.bigquery.dataset.Dataset

In [8]:
[table.table_id for table in client.list_tables(ethereum_dataset)]

['amended_tokens',
 'balances',
 'blocks',
 'contracts',
 'logs',
 'token_transfers',
 'tokens',
 'traces',
 'transactions']

In [9]:
blocks = client.get_table(ethereum_dataset.table('blocks'))
type(blocks)

google.cloud.bigquery.table.Table

In [10]:
[command for command in dir(blocks) if not command.startswith('_')]

['clustering_fields',
 'created',
 'dataset_id',
 'description',
 'encryption_configuration',
 'etag',
 'expires',
 'external_data_configuration',
 'friendly_name',
 'from_api_repr',
 'from_string',
 'full_table_id',
 'labels',
 'location',
 'modified',
 'mview_enable_refresh',
 'mview_last_refresh_time',
 'mview_query',
 'mview_refresh_interval',
 'num_bytes',
 'num_rows',
 'partition_expiration',
 'partitioning_type',
 'path',
 'project',
 'range_partitioning',
 'reference',
 'require_partition_filter',
 'schema',
 'self_link',
 'streaming_buffer',
 'table_id',
 'table_type',
 'time_partitioning',
 'to_api_repr',
 'to_bqstorage',
 'view_query',
 'view_use_legacy_sql']

In [12]:
schema_subset = [col for col in blocks.schema if col.name in ('timestamp', 'number', 'size') ]
results = [x for x in client.list_rows(blocks,start_index=100,selected_fields=schema_subset,max_results=10)]

In [13]:
print(results)

[Row((datetime.datetime(2018, 12, 9, 2, 25, 32, tzinfo=<UTC>), 6852146, 14363), {'timestamp': 0, 'number': 1, 'size': 2}), Row((datetime.datetime(2018, 12, 9, 6, 32, 49, tzinfo=<UTC>), 6853178, 17556), {'timestamp': 0, 'number': 1, 'size': 2}), Row((datetime.datetime(2018, 12, 9, 16, 15, 55, tzinfo=<UTC>), 6855642, 30035), {'timestamp': 0, 'number': 1, 'size': 2}), Row((datetime.datetime(2018, 12, 9, 10, 4, 31, tzinfo=<UTC>), 6854079, 26309), {'timestamp': 0, 'number': 1, 'size': 2}), Row((datetime.datetime(2018, 12, 9, 23, 6, 47, tzinfo=<UTC>), 6857396, 30421), {'timestamp': 0, 'number': 1, 'size': 2}), Row((datetime.datetime(2018, 12, 9, 1, 26, 45, tzinfo=<UTC>), 6851911, 30733), {'timestamp': 0, 'number': 1, 'size': 2}), Row((datetime.datetime(2018, 12, 9, 5, 4, 6, tzinfo=<UTC>), 6852813, 16612), {'timestamp': 0, 'number': 1, 'size': 2}), Row((datetime.datetime(2018, 12, 9, 9, 16, 36, tzinfo=<UTC>), 6853908, 24987), {'timestamp': 0, 'number': 1, 'size': 2}), Row((datetime.datetime(2018, 12, 9, 16, 39, 17, tzinfo=<UTC>), 6855732, 19202), {'timestamp': 0, 'number': 1, 'size': 2}), Row((datetime.datetime(2018, 12, 9, 2, 31, 45, tzinfo=<UTC>), 6852177, 18748), {'timestamp': 0, 'number': 1, 'size': 2})]

In [14]:
for i in results:
    print(i)

Row((datetime.datetime(2018, 12, 9, 2, 25, 32, tzinfo=<UTC>), 6852146, 14363), {'timestamp': 0, 'number': 1, 'size': 2})
Row((datetime.datetime(2018, 12, 9, 6, 32, 49, tzinfo=<UTC>), 6853178, 17556), {'timestamp': 0, 'number': 1, 'size': 2})
Row((datetime.datetime(2018, 12, 9, 16, 15, 55, tzinfo=<UTC>), 6855642, 30035), {'timestamp': 0, 'number': 1, 'size': 2})
Row((datetime.datetime(2018, 12, 9, 10, 4, 31, tzinfo=<UTC>), 6854079, 26309), {'timestamp': 0, 'number': 1, 'size': 2})
Row((datetime.datetime(2018, 12, 9, 23, 6, 47, tzinfo=<UTC>), 6857396, 30421), {'timestamp': 0, 'number': 1, 'size': 2})
Row((datetime.datetime(2018, 12, 9, 1, 26, 45, tzinfo=<UTC>), 6851911, 30733), {'timestamp': 0, 'number': 1, 'size': 2})
Row((datetime.datetime(2018, 12, 9, 5, 4, 6, tzinfo=<UTC>), 6852813, 16612), {'timestamp': 0, 'number': 1, 'size': 2})
Row((datetime.datetime(2018, 12, 9, 9, 16, 36, tzinfo=<UTC>), 6853908, 24987), {'timestamp': 0, 'number': 1, 'size': 2})
Row((datetime.datetime(2018, 12, 9, 16, 39, 17, tzinfo=<UTC>), 6855732, 19202), {'timestamp': 0, 'number': 1, 'size': 2})
Row((datetime.datetime(2018, 12, 9, 2, 31, 45, tzinfo=<UTC>), 6852177, 18748), {'timestamp': 0, 'number': 1, 'size': 2})

In [16]:
blocks_data = """
        SELECT * 
        FROM `bigquery-public-data.crypto_ethereum.blocks`
        LIMIT 10
        """   
blocks_data = client.query(blocks_data)
blocks_data_res = blocks_data.to_dataframe()

blocks_data_res

,timestamp,number,hash,parent_hash,nonce,sha3_uncles,logs_bloom,transactions_root,state_root,receipts_root,miner,difficulty,total_difficulty,size,extra_data,gas_limit,gas_used,transaction_count
0,2018-06-07 07:52:01+00:00,5746587,0x52bbbf23565412b681ed1efac89ea3fdb8793d5ecb61...,0x36a6a43e9453ef5339ce4245292af31a53ff8ef760f5...,0x5f6e5ec0251d3b31,0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a...,0x21400221204208040c108286042001ce0004000f0828...,0xe3dcf3629e654c233c866ded37591a3080b6d921b898...,0x6f61a1437f6f50c8112855f071610d9de647629cc801...,0x7d526b323ed18551925e79b75e78f1de09d88d50d0ee...,0x4a071eee72bc8664c81b62836932ed0d246da82b,3161776797401853.000000000,4623547052921765730360.000000000,31483,0x,7988300,7972612,202
1,2018-06-07 08:06:53+00:00,5746645,0x5a6862efb42b2420ec2f9981d3b52dc0408ee7d7ad5b...,0xff15bf4e0ecabadeb7119915e01cfff10d319fe9a094...,0x4b9b800004f5d324,0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a...,0xe9d44c30428c0a448f9111214b3a208061208c2f5241...,0xed264cb8a6354f9a2894a7cdc6999e533b31d0abfbbe...,0x82849d6b531149276e6e10a4269b01c640a173bb01f8...,0x310f26248268c09aa35ea080c4c30094dd6362b03d02...,0x4a071eee72bc8664c81b62836932ed0d246da82b,3161728960317834.000000000,4623730096556890906662.000000000,20360,0x,7996033,7986492,88
2,2018-06-07 00:32:44+00:00,5744884,0x5f3a4c9193f7881cb997998b5a8729e372a98b3a5a22...,0x7e3d1a7397d5aff63a7e0b946b19c8a9619e0a0c63ab...,0xa78fb78002a5f00c,0x42e8f623ef097831a3b0aba00651faa22158fa370d33...,0x81002000000000001002080201208409000008600120...,0xfd89272a0b1e5c1a7bff994b5b3673b996e4af793875...,0xc31816ed7c9133425bdcdb81ec90783e4c928a92060d...,0x70d6eeea4c51e7446495320ea794942e7e53358ef137...,0xcc16e3c00dbbe76603fa833ec20a48f786dfe610,3155298450168910.000000000,4618126426763930308430.000000000,18051,0x,7976645,7973470,69
3,2018-06-07 05:15:00+00:00,5745987,0x39f264538047c6af05cc403946c389e56d6158dcaccb...,0x8df4e2c20ccdaad5c2ce9d97e3223b95b403d1a09029...,0xea813f9f01d008b1,0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a...,0x008818012c4020100e1c862402009a1580020a550224...,0xaa9a88642155507eb23bbb9dcc99316e0bde5ea4b03e...,0x0410d8635580ac29c11eac8c341d0b3fd58730081033...,0xf80f0bfe5aa16284d0ef3fc0d24cc2ba42e07a07a597...,0xcc16e3c00dbbe76603fa833ec20a48f786dfe610,3201049234256398.000000000,4621625102365311308707.000000000,31703,0x,7984489,7976247,185
4,2018-06-07 18:59:55+00:00,5749189,0x190922f24e8178fc4bd7bd7d086593879fa8ff60a106...,0x08c4eae73d3adc0667d4c1c6eeaacb1cc1806bb1cecc...,0x555c5cd30493d347,0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a...,0x020228004040102008c428a2800000000400440408a0...,0x2874408fcce55bb98479c7e125704b94d6798475282e...,0xbd8e9b61353b537b19d203738eebad86134d89a6ab22...,0x427b050a4211069da58c345c1797e7648d57dee8173f...,0xcc16e3c00dbbe76603fa833ec20a48f786dfe610,3173572334519682.000000000,4631745698438430298972.000000000,11822,0x,7984008,7963676,89
5,2018-06-07 06:39:39+00:00,5746324,0x653f8c39d09f689266ae0577424e56c4266373e25836...,0xd610fc0b64d20132406b469c133f33221dc9d8889a30...,0x03f32db001e02040,0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a...,0x01c230210802410c070310186048840c020042400842...,0x75cf01434dde951efc1183ffc33d1ad076ae4fdd001a...,0x3a94ab72d8866173845475f1ae9c49bf6a87ed52fd73...,0x308d084405c6133eb8db86803d9cd51b86426df37ef9...,0x4a071eee72bc8664c81b62836932ed0d246da82b,3216482605844826.000000000,4622704828567299842790.000000000,16476,0x,7993258,7983126,112
6,2018-06-07 18:08:32+00:00,5748989,0x1394a3097d63c400ae42d041e2178ba2a4be091b9669...,0xe510bf0f2ebb445b6387afd62e976e4b44dd22c6207d...,0x54bfe7a40419ad69,0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a...,0x00c69064c8002112031b144001208c08120680d149a4...,0x382f8c7a4a12a0fb5f140ca37f53f5d59486919896b7...,0x0c1805a0909e288cbfe5adbcd1699e5eb7d5ec6c5705...,0x4efcb3b8927e530b316880b9b171dfb37c74cb69d7b3...,0x4a071eee72bc8664c81b62836932ed0d246da82b,3179962101165668.000000000,4631110927315418473541.000000000,22510,0x,7976645,7970648,122
7,2018-06-07 19:00:14+00:00,5749192,0x47794cc3a74c87d6551c40921a9f3a7ebf6c49f03976...,0x461552bcdfc812c9e53098f225b340d4aee3ae907d44...,0xb03ab3200120d89e,0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a...,0x00000100000000000000200000000000100000000000...,0x62537aac1be37b7aa980708f8042b42a63f3ef8eca90...,0x0b235892c9521749296b6a6f7192c23b9e250f5f0f93...,0x4e1f48c46f01bdf0a8a09c9b870371f5b6b3a4a0e7bd...,0x4a071eee72bc8664c81b62836932ed0d246da82b,3178222736125136.000000000,4631755226905127892464.000000000,18880,0x,7976238,7966882,131
8,2018-06-07 09:31:01+00:00,5746967,0x2e7b3d946b8cabe82d9ca63584dfcd445bd64276150b...,0x42d9385357da7133b299215961edf29521fac2569655...,0x0ac1f324047c4e03,0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a...,0x02f08d9028d81301499862242702818a2018c45c162f...,0xfff95568efaee1dedfc7cda3b5caae29988e4571a8f4...,0x84c801cef46594de57b651fa417f3d9bb68333b7a5d9...,0x41e70747b643bf983fb2f26bb40a7b9969662ecaec64...,0x4a071eee72bc8664c81b62836932ed0d246da82b,3127649310062653.000000000,4624744610586982872728.000000000,21868,0x,7968875,7953584,97
9,2018-06-07 20:24:04+00:00,5749519,0x16bbe841335c72aeb7153883ca275080a7817c30dd23...,0xa8d84db26296b5ae2c59bee52e7eb095e76a387099c7...,0x2f97e9a8166e4664,0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a...,0x0086008005006119010c0c408200a000000084010008...,0x9adb0b93eceed090a15e6efa35f92a23bb6781e5147f...,0xaeca92d9f7a2c1974b6052813c0b1222dbcbfc44830e...,0x2e18c92f8be510e0e308f21160482b888ce7cec082df...,0x4a071eee72bc8664c81b62836932ed0d246da82b,3167141646286525.000000000,4632794065287375591067.000000000,14321,0x,7978865,7975298,88

In [17]:
transactions = client.get_table(ethereum_dataset.table('transactions'))
transactions.schema

[SchemaField('hash', 'STRING', 'REQUIRED', 'Hash of the transaction', (), None),
 SchemaField('nonce', 'INTEGER', 'REQUIRED', 'The number of transactions made by the sender prior to this one', (), None),
 SchemaField('transaction_index', 'INTEGER', 'REQUIRED', 'Integer of the transactions index position in the block', (), None),
 SchemaField('from_address', 'STRING', 'REQUIRED', 'Address of the sender', (), None),
 SchemaField('to_address', 'STRING', 'NULLABLE', 'Address of the receiver. null when its a contract creation transaction', (), None),
 SchemaField('value', 'NUMERIC', 'NULLABLE', 'Value transferred in Wei', (), None),
 SchemaField('gas', 'INTEGER', 'NULLABLE', 'Gas provided by the sender', (), None),
 SchemaField('gas_price', 'INTEGER', 'NULLABLE', 'Gas price provided by the sender in Wei', (), None),
 SchemaField('input', 'STRING', 'NULLABLE', 'The data sent along with the transaction', (), None),
 SchemaField('receipt_cumulative_gas_used', 'INTEGER', 'NULLABLE', 'The total amount of gas used when this transaction was executed in the block', (), None),
 SchemaField('receipt_gas_used', 'INTEGER', 'NULLABLE', 'The amount of gas used by this specific transaction alone', (), None),
 SchemaField('receipt_contract_address', 'STRING', 'NULLABLE', 'The contract address created, if the transaction was a contract creation, otherwise null', (), None),
 SchemaField('receipt_root', 'STRING', 'NULLABLE', '32 bytes of post-transaction stateroot (pre Byzantium)', (), None),
 SchemaField('receipt_status', 'INTEGER', 'NULLABLE', 'Either 1 (success) or 0 (failure) (post Byzantium)', (), None),
 SchemaField('block_timestamp', 'TIMESTAMP', 'REQUIRED', 'Timestamp of the block where this transaction was in', (), None),
 SchemaField('block_number', 'INTEGER', 'REQUIRED', 'Block number where this transaction was in', (), None),
 SchemaField('block_hash', 'STRING', 'REQUIRED', 'Hash of the block where this transaction was in', (), None)]

In [18]:
contracts = client.get_table(ethereum_dataset.table('contracts'))
contracts.schema

[SchemaField('address', 'STRING', 'REQUIRED', 'Address of the contract', (), None),
 SchemaField('bytecode', 'STRING', 'NULLABLE', 'Bytecode of the contract', (), None),
 SchemaField('function_sighashes', 'STRING', 'REPEATED', '4-byte function signature hashes', (), None),
 SchemaField('is_erc20', 'BOOLEAN', 'NULLABLE', 'Whether this contract is an ERC20 contract', (), None),
 SchemaField('is_erc721', 'BOOLEAN', 'NULLABLE', 'Whether this contract is an ERC721 contract', (), None),
 SchemaField('block_timestamp', 'TIMESTAMP', 'REQUIRED', 'Timestamp of the block where this contract was created', (), None),
 SchemaField('block_number', 'INTEGER', 'REQUIRED', 'Block number where this contract was created', (), None),
 SchemaField('block_hash', 'STRING', 'REQUIRED', 'Hash of the block where this contract was created', (), None)]

In [19]:
token_transfers = client.get_table(ethereum_dataset.table('token_transfers'))
token_transfers.schema

[SchemaField('token_address', 'STRING', 'REQUIRED', 'ERC20 token address', (), None),
 SchemaField('from_address', 'STRING', 'NULLABLE', 'Address of the sender', (), None),
 SchemaField('to_address', 'STRING', 'NULLABLE', 'Address of the receiver', (), None),
 SchemaField('value', 'STRING', 'NULLABLE', 'Amount of tokens transferred (ERC20) / id of the token transferred (ERC721). Use safe_cast for casting to NUMERIC or FLOAT64', (), None),
 SchemaField('transaction_hash', 'STRING', 'REQUIRED', 'Transaction hash', (), None),
 SchemaField('log_index', 'INTEGER', 'REQUIRED', 'Log index in the transaction receipt', (), None),
 SchemaField('block_timestamp', 'TIMESTAMP', 'REQUIRED', 'Timestamp of the block where this transfer was in', (), None),
 SchemaField('block_number', 'INTEGER', 'REQUIRED', 'Block number where this transfer was in', (), None),
 SchemaField('block_hash', 'STRING', 'REQUIRED', 'Hash of the block where this transfer was in', (), None)]

In [21]:
tokens = client.get_table(ethereum_dataset.table('tokens'))
tokens.schema

[SchemaField('address', 'STRING', 'REQUIRED', 'The address of the ERC20 token', (), None),
 SchemaField('symbol', 'STRING', 'NULLABLE', 'The symbol of the ERC20 token', (), None),
 SchemaField('name', 'STRING', 'NULLABLE', 'The name of the ERC20 token', (), None),
 SchemaField('decimals', 'STRING', 'NULLABLE', 'The number of decimals the token uses. Use safe_cast for casting to NUMERIC or FLOAT64', (), None),
 SchemaField('total_supply', 'STRING', 'NULLABLE', 'The total token supply. Use safe_cast for casting to NUMERIC or FLOAT64', (), None),
 SchemaField('block_timestamp', 'TIMESTAMP', 'REQUIRED', 'Timestamp of the block where this token was created', (), None),
 SchemaField('block_number', 'INTEGER', 'REQUIRED', 'Block number where this token was created', (), None),
 SchemaField('block_hash', 'STRING', 'REQUIRED', 'Hash of the block where this token was created', (), None)]

In [23]:
blocks = client.get_table(ethereum_dataset.table('blocks'))
blocks.schema

[SchemaField('timestamp', 'TIMESTAMP', 'REQUIRED', 'The timestamp for when the block was collated', (), None),
 SchemaField('number', 'INTEGER', 'REQUIRED', 'The block number', (), None),
 SchemaField('hash', 'STRING', 'REQUIRED', 'Hash of the block', (), None),
 SchemaField('parent_hash', 'STRING', 'NULLABLE', 'Hash of the parent block', (), None),
 SchemaField('nonce', 'STRING', 'REQUIRED', 'Hash of the generated proof-of-work', (), None),
 SchemaField('sha3_uncles', 'STRING', 'NULLABLE', 'SHA3 of the uncles data in the block', (), None),
 SchemaField('logs_bloom', 'STRING', 'NULLABLE', 'The bloom filter for the logs of the block', (), None),
 SchemaField('transactions_root', 'STRING', 'NULLABLE', 'The root of the transaction trie of the block', (), None),
 SchemaField('state_root', 'STRING', 'NULLABLE', 'The root of the final state trie of the block', (), None),
 SchemaField('receipts_root', 'STRING', 'NULLABLE', 'The root of the receipts trie of the block', (), None),
 SchemaField('miner', 'STRING', 'NULLABLE', 'The address of the beneficiary to whom the mining rewards were given', (), None),
 SchemaField('difficulty', 'NUMERIC', 'NULLABLE', 'Integer of the difficulty for this block', (), None),
 SchemaField('total_difficulty', 'NUMERIC', 'NULLABLE', 'Integer of the total difficulty of the chain until this block', (), None),
 SchemaField('size', 'INTEGER', 'NULLABLE', 'The size of this block in bytes', (), None),
 SchemaField('extra_data', 'STRING', 'NULLABLE', 'The extra data field of this block', (), None),
 SchemaField('gas_limit', 'INTEGER', 'NULLABLE', 'The maximum gas allowed in this block', (), None),
 SchemaField('gas_used', 'INTEGER', 'NULLABLE', 'The total used gas by all transactions in this block', (), None),
 SchemaField('transaction_count', 'INTEGER', 'NULLABLE', 'The number of transactions in the block', (), None)]

In [27]:
# highest transactions 

higest_transactions = """
        SELECT timestamp as block_time, transaction_count   
        FROM `bigquery-public-data.crypto_ethereum.blocks`
        ORDER BY transaction_count DESC
        LIMIT 10
        """   
higest_transactions = client.query(higest_transactions)
higest_transactions_res = higest_transactions.to_dataframe()

higest_transactions_res

                 block_time  transaction_count
0 2021-01-09 04:24:16+00:00                596
1 2021-01-19 01:35:45+00:00                596
2 2021-01-08 03:55:14+00:00                596
3 2021-01-30 00:54:44+00:00                595
4 2020-12-19 01:54:07+00:00                595
5 2020-12-17 03:17:45+00:00                595
6 2021-01-08 01:39:42+00:00                595
7 2020-12-29 03:20:16+00:00                595
8 2021-01-09 04:38:32+00:00                595
9 2020-10-20 03:27:33+00:00                595

In [30]:
# most gas spent

most_gas_spent = """
                SELECT timestamp as block_time, gas_used
                FROM `bigquery-public-data.crypto_ethereum.blocks`
                ORDER BY gas_used DESC
                LIMIT 10
                """

most_gas_spent = client.query(most_gas_spent)
most_gas_spent_res = most_gas_spent.to_dataframe()
most_gas_spent_res

                 block_time  gas_used
0 2021-01-28 13:45:44+00:00  12654494
1 2021-01-28 13:45:19+00:00  12653529
2 2021-01-28 13:43:20+00:00  12652702
3 2021-01-28 13:46:20+00:00  12652041
4 2021-01-28 13:44:34+00:00  12644434
5 2021-01-28 13:44:55+00:00  12643329
6 2021-01-28 13:45:51+00:00  12641904
7 2021-01-28 13:42:58+00:00  12640968
8 2021-01-28 13:43:09+00:00  12640464
9 2021-01-28 13:44:09+00:00  12638960

In [33]:
# average gas wastage

avg_gas_wastage = """
            SELECT AVG(gas_limit - gas_used) as average_gas_wastage
            FROM bigquery-public-data.crypto_ethereum.blocks
            """

avg_gas_wastage = client.query(avg_gas_wastage)
avg_gas_wastage_res = avg_gas_wastage.to_dataframe()
avg_gas_wastage_res

   average_gas_wastage
0         2.042678e+06